.settings {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0s ease-in-out 1s, opacity 1s 0s;
}

.settings__container {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
}

.settings__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settings__label {
  margin-block-start: 0;
  margin-block-end: 0px;
  color: rgb(101, 156, 53);
  line-height: 1.2;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.settings__input {
  margin-block-start: 0;
  margin-block-end: 0;
  width: 45px;
  color: black;
  line-height: 1.2;
  font-size: 14px;
  padding: 0 0 2px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
}

.settings__input:first-of-type {
  margin-left: 20px;
}

.settings__span {
  font-size: 12px;
  align-self: center;
}

.settings__checkbox {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  accent-color: rgb(101, 156, 53);
}

.settings__close-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('../../images/close-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.settings__empty-error {
  font-size: 10px;
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  margin: 18px auto 0;
}

.settings__save-button {
  width: 358px;
  height: 50px;
  background-color: rgb(101, 156, 53);
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 0;
}

.settings__save-button:disabled {
  background-color: rgba(101, 156, 53, 0.8);
  color: grey;
}

.settings_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s ease-in-out, opacity 1s;
}
